<%- include('partials/header', { title: 'Users List' }) %>

    <main class="page-content-wrapper">
    <h2 class="page-title" style="text-align: center; font-size: 2rem; margin-bottom: 30px;">
      <%= event.Event_ID ? 'Edit Event' : 'Add Event' %>
    </h2>
    <form action="<%= action %>" method="POST" class="frosted-form-card">
      <div class="form-group-custom">
        <label class="form-label-custom">Competition ID</label>
        <input class="input-field" name="competition_id" value="<%= compID || '' %>" readonly>
      </div>

      <div class="form-group-custom">
        <label class="form-label-custom">Title</label>
        <input class="input-field" name="title" value="<%= event.title || '' %>" required>
      </div>

      <div class="form-row-custom">
        <div class="half-width">
          <label class="form-label-custom">Start Date & Time</label>
          <input type="datetime-local" class="input-field" name="start_date_time"
            value="<%= event.Start_date_time ? event.Start_date_time.toISOString().slice(0,16) : '' %>">
        </div>

        <div class="half-width">
          <label class="form-label-custom">End Date & Time</label>
          <input type="datetime-local" class="input-field" name="end_date_time"
            value="<%= event.End_date_time ? event.End_date_time.toISOString().slice(0,16) : '' %>">
        </div>
      </div>

      <<div class="form-group-custom">
        <label class="form-label-custom">Number of Rounds</label>
        <input type="number" class="input-field" name="rounds" value="<%= event.rounds || '' %>">
      </div>

      <div style="margin-top: 30px; text-align: center;">
      <button type="submit" class="action-btn btn-secondary-custom" style="width: 150px;">
              Save
          </button>
          
          <a href="/competitions" class="action-btn btn-secondary-custom" style="width: 150px; margin-left: 15px;">
              Cancel
          </a>
      </div>
    </form>
  </main>
<%- include('partials/footer') %>